#sec6 .tit {
    text-align: center;
    padding-bottom: 29px;
}
#sec6 .rss-img {
    height: 160px;
}
#sec6 .rss-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#sec6 .rss-date {
    color: #eb6124;
    font-weight: bold;
    padding: 20px 0 9px;
    letter-spacing: 1.8px;
    font-size: 13px;
    position: relative;
    margin-bottom: 13px;
}
#sec6 .rss-date:before {
    content: "";
    width: 100px;
    height: 2px;
    background: #1d1d1d;
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 0;
}
#sec6 .rss-tit {
    line-height: 25px;
    letter-spacing: 1.3px;
    font-weight: bold;
    margin-right: -5px;
    min-height: 50px;
}
#sec6 .row {
    float: left;
    width: 290px;
    margin-right: 40px;
}
#sec6 .row:last-child {
    margin-right: 0;
}
#sec6 #feed {
    margin: 0 25px;
}